.container {
    background-color: rgb(253, 8, 90);
    color: white;
    padding: 20px;
    text-align: center;
}

.container2 {
    display: inline-block;
    border: 1px solid palevioletred;
    color: palevioletred;
    margin: 10px;
    padding: 17px;
}

.button {
    display: inline-block;
    text-align: center;
    background-color: palevioletred;
    color: white;
    margin: 10px;
    padding: 2px;
    width: 90px;
}

.container3 {
    display: flex;
    background-color: rgb(253, 8, 90);
    padding: 35px;
}

.item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
    padding: 20px;
    background-color: palevioletred;
    color: white;
}

.item2 {
    flex: 2;
    margin: 0 10px;
    text-align: center;
    padding: 20px;
    background-color: palevioletred;
    color: white;
}

.grid {
    display: grid;
    background-color: pink;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.grid-item {
    text-align: center;
    background-color: rgb(253, 8, 90);
    color: white;
}

div{
    width: 100%;
    padding: 20px;
}